@import "~antd/dist/antd.css";

$font-size: 20px; 
$color:#f0f2f5;
*{
  margin: 0; padding: 0;
}
body{
  background: $color !important;
  font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  // background: green;
}
.example{
  font-size: $font-size;
  color: $color;
}
.wrapper-item{
	// border: 1px solid rgba(0,0,0,0.1);
	padding: 0 10px; background: #fff; 
}						
.wrapper-left{
	float: left; width: 879px; min-height: 800px; 
  border-right: 1px solid #90bba8;
}
.wrapper-rig{ 
	float: right; width: 320px; 
}

.card-section{
  padding: 0px 15px; margin-bottom: 10px; box-shadow: 0 0 5px #ccc;
  .card-title{
    border-bottom: 1px solid #90bba8; font-weight: bold; padding: 10px 0;
    font-size: 16px;
  }
  .card-title em{
    display: inline-block; padding: 0 5px; height: 16px;
    margin-right: 10px; background: #ff2222; font-weight: normal;
    font-size: 10px; color: #fff; 
  }
  .card-content{
    padding: 10px 0; 
  }
}

            